[submodule "problem_2/smartaccount/contracts/lib/openzeppelin-contracts"]
	path = problem_2/smartaccount/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "problem_2/smartaccount/contracts/lib/account-abstraction"]
	path = problem_2/smartaccount/contracts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
